<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
         Your vacancy
    </title>

    <link rel="stylesheet" href="{{ url_for('static', filename='vacancy_draft.css') }}">
</head>
<body>
    {% block content %}
        <div class="container">
            <h2>Твоя вакансия почти на канале. Вот как она будет выглядеть:</h2>
            <pre>
                <b>{{ vacancy_name }}</b>
                <i>{{ company_name }}</i>
                {{ city }}
                <b>{{ salary }}</b>
                {{ key_technologies }}
                <p></p>
                {{ vacancy_description }}
                <p></p>
                {{ contacts }}
            </pre>
            <button class="back-to-welcome" type="button">Понятно</button>
        </div>
    {% endblock %}
</body>
</html>